
@import "lib/bootstrap/normalize.less";
@import "lib/bootstrap/mixins.less";
@import "lib/bootstrap/utilities.less";

body {
    padding: 0 40px;
}

p {
    margin-bottom: 20px;
    font-family: Georgia, serif;
    font-size: 17px;
    color: rgb(51, 51, 51);
    line-height: 29px;
}

#content {
    max-width: 680px;
    margin: 0 auto;

    img {
        max-width: 100%;
    }
}

table {
    border-collapse: collapse;
    font-family: "Courier New", monospace;
    font-size: 12px;
    th, td {
        padding: 2px 0;
        font-weight: 300;
        min-width: 2rem;
        border: 1px solid #fff;

    }
    thead {
        th, td {
            text-align: center;
        }
        td.votes {
            text-align: right;
        }
    }
    tbody {
        th {
            text-align: right;
            padding-right: 3px;
        }
        td {
            font-size: 9px;
            color: #fff;
            text-align: center;
            &.gop {
                background-color: rgba(200, 0, 0, 1);
                &.margin-0, &.margin-1 {
                    background-color: rgba(200, 0, 0, 0.6);
                }
                &.margin-2, &.margin-3 {
                    background-color: rgba(200, 0, 0, 0.8);
                }
            }
            &.dem {
                background-color: rgba(0, 0, 200, 1);
                &.margin-0, &.margin-1 {
                    background-color: rgba(0, 0, 200, 0.5);
                }
                &.margin-2, &.margin-3 {
                    background-color: rgba(0, 0, 200, 0.7);
                }
            }
        }
    }
}

#table-controls{
    float: left;
    .white_man-pct-group {
        display: none;
    }
}
#margin-table {
    float: left;
    margin-left: 30px;
}
