{% macro model_table(id) -%}
<div class="container clearfix">
    <div id="{{ id }}-results" class="table-totals"></div>
    <div id="{{ id }}-table-controls" class="table-controls {% if kwargs.get('interactive') == 'disabled' %} disabled{% endif %}"></div>
    <div id="{{ id }}-margin-table" class="margin-table"></div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Retrieve the base data from the global scope
    var data = baseData.data;

    //Get the adjustments from the macro parameters
    var adjustments = {
        'adjustments': {
            'white_man': {
                'pct': {{kwargs.get('white_man_pct', 0.0)}},
                'turnout': {{kwargs.get('white_man_turnout', 0.0)}},
            },
            'white_woman': {
                'pct': {{kwargs.get('white_woman_pct', 0.0)}},
                'turnout': {{kwargs.get('white_woman_turnout', 0.0)}},
            },
            'black': {
                'pct': {{kwargs.get('black_pct', 0.0)}},
                'turnout': {{kwargs.get('black_turnout', 0.0)}},
            },
            'hispanic': {
                'pct': {{kwargs.get('hispanic_pct', 0.0)}},
                'turnout': {{kwargs.get('hispanic_turnout', 0.0)}},
            },
            'other': {
                'pct': {{kwargs.get('other_pct', 0.0)}},
                'turnout': {{kwargs.get('other_turnout', 0.0)}},
            }
        }
    };
    var interactive = true;
    {% if kwargs.get('interactive') == 'disabled' %}
    interactive = false;
    {% endif %}
    simulator = new ElectionSimulator("{{ id }}-results", "{{ id }}-margin-table", "{{ id }}-table-controls", adjustments, interactive, baseData.data);
    simulator.render();
});
</script>
{%- endmacro %}
