{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}
<section id="content">
    {{ content|markdown }}
</section>
{% endblock %}

{% block extra_foot_js %}

{% raw %}
<script id="margin-table-template" type="text/ractive">
<table>
    <tbody>
        {{#each rows}}
        <tr>
            {{#this}}
            <td class="{{winnerClass}} {{marginClass}}" data-tooltip="{{margin}}%">
            {{margin}}%
            </td>
            {{/this}}
            <th>{{@key}}</th>
        </tr>
        {{/each}}
    </tbody>
</table>
</script>
<script id="results-template" type="text/ractive">
    <div class="gop">
        {{#electoralVotes}}
            <p><span class="gop-votes {{#if this.gop > 270}}winner{{/if}}">{{gop}}</span></p>
        {{/electoralVotes}}
        <label for="" class="votes">GOP votes</label>
    </div>
    <div class="dem">
        {{#electoralVotes}}
            <p><span class="dem-votes {{#if this.dem > 270}}winner{{/if}}">{{dem}}</span></p>
        {{/electoralVotes}}
        <label for="" class="votes">DEM votes</label>
    </div>
</script>
<script id="controls-template" type="text/ractive">
{{#each adjustments}}
    <h3>{{@key.replace("_", " ")}}</h3>
    <div class="control-group {{@key}}-pct-group">
        <label for="{{@key}}-pct">margin</label>
        <span>{{#if this.pct === 0.0}}{{elseif this.pct < 0}}+{{else}}-{{/if}}{{(Math.abs(this.pct * 100)).toFixed(0)}}% DEM</span>
        <input id="{{@key}}-pct" type="range" step="0.01" value="{{this.pct}}" min="-0.10" max="0.10">
        <span>{{#if this.pct === 0.0}}{{elseif this.pct > 0}}+{{else}}-{{/if}}{{(Math.abs(this.pct * 100)).toFixed(0)}}% GOP</span>
    </div>
    <div class="control-group  {{@key}}-turnout-group">
        <label for="{{@key}}-turnout">turnout</label>
        <span>{{#if this.turnout === 0.0}}{{elseif this.turnout < 0}}+{{else}}-{{/if}}{{(Math.abs(this.turnout * 100)).toFixed(0)}}% DEM</span>
        <input id="{{@key}}-turnout" type="range" step="0.01" value="{{this.turnout}}" min="-0.10" max="0.10">
        <span>{{#if this.turnout === 0.0}}{{elseif this.turnout > 0}}+{{else}}-{{/if}}{{(Math.abs(this.turnout * 100)).toFixed(0)}}% GOP</span>
{{/each}}
</script>

{% endraw %}

<script>
var baseData = {{ data|safe }};
</script>
{% endblock %}
