{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}
<section id="content">
    <div class="container">
        <div id="margin-table">
        </div>
    </div>
</section>
{% endblock %}

{% block extra_foot_js %}
<script src='http://cdn.ractivejs.org/latest/ractive.js'></script>

{% raw %}
<script id="margin-table-template" type="text/ractive">
<table>
    <thead>
        <tr>
            <th></th>
            {{#labels}}
            <th>{{label}}</th>
            {{/label}}
        </tr>
    </thead>

    <tbody>
        {{#each rows}}
        <tr>
            <th>{{@key}}</th>
            {{#this}}
            <td class="{{winner}} {{marginType}}">
                {{Math.abs(margin * 100).toFixed(1)}}%
            </td>
            {{/this}}
        </tr>
        {{/each}}
    </tbody>
</table>
</script>
{% endraw %}

<script>
var baseData = {{ data|safe }};
</script>
{% endblock %}
