{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}
<section id="content">
    {{ content|markdown }}
</section>
{% endblock %}

{% block extra_foot_js %}
<script src='http://cdn.ractivejs.org/latest/ractive.js'></script>

{% raw %}
<script id="margin-table-template" type="text/ractive">
<table>
    <thead>
        <tr>
            <td class="votes">GOP votes</td>
            {{#electoralVotes}}
            <td>{{gop}}</td>
            {{/electoralVotes}}
        </tr>
        <tr>
            <td class="votes">Dem votes</td>
            {{#electoralVotes}}
            <td>{{dem}}</td>
            {{/electoralVotes}}
        </tr>
        <tr>
            <th><!--White male margin<br/>(Compared to 2012)--></th>
            {{#labels}}
            <th>{{label}}</th>
            {{/label}}
        </tr>
    </thead>

    <tbody>
        {{#each rows}}
        <tr>
            <th>{{@key}}</th>
            {{#this}}
            <td class="{{winnerClass}} {{marginClass}}" data-tooltip="{{margin}}%">
            <!--{{margin}}%-->
            </td>
            {{/this}}
        </tr>
        {{/each}}
    </tbody>
    <tfoot>

    </tfoot>
</table>
</script>

<script id="controls-template" type="text/ractive">
{{#each adjustments}}
<div class="{{@key}}">
    <div class="control-group {{@key}}-pct-group">
        <input id="{{@key}}-pct" type="range" step="0.01" value="{{this.pct}}" min="-0.10" max="0.10">
        <span>{{(this.pct * 100).toFixed(0)}}%</span>
        <label for="{{@key}}-pct">{{@key}} margin</label>
    </div>
    <div class="control-group  {{@key}}-turnout-group">
        <input id="{{@key}}-turnout" type="range" step="0.01" value="{{this.turnout}}" min="-0.10" max="0.10">
        <span>{{(this.turnout * 100).toFixed(0)}}%</span>
        <label for="{{@key}}-turnout">{{@key}} turnout</label>
    </div>
    <hr/>
</div>
{{/each}}
</script>
{% endraw %}

<script>
var baseData = {{ data|safe }};
</script>
{% endblock %}
